{
    "presets": [[
        "@babel/preset-env",
        {
          "modules": false // Disable CommonJS modules, which will keep ES modules
        }
      ], "@babel/preset-react"]
}
//   This will tell Babel to use the @babel/preset-env and @babel/preset-react presets to transform your code.
  

  
  
  