// colors
$purple: #9e58ff;
$light-purple: #c989dd;
$blue: #6dc0f9;
$light-blue: #a6e0fa;
$grey: #aaaaaa;
$red: #e85555;
$green: #5fc657;
$black: #303030;
$orange: #fcb769;
$pink: #f48888;
$light-grey: #fafafa;

// Font
$ave-ultra-light: "Avenir_Next_LT_Pro_Ultra_Light";
$ave-regular: "Avenir_Next_LT_Pro_Regular";
$ave-demi: "Avenir_Next_LT_Pro_Demi";
$ave-bold: "Avenir_Next_LT_Pro_Bold";
$ave-heavy: "Avenir_Next_LT_Pro_Heavy";
$ave-medium: "Avenir_Next_LT_Pro_It";

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $light-grey;
  font-family: $ave-regular;

  color: $black;

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  *::selection {
    color: white;
    background-color: $blue;
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  button,
  a {
    font-family: $ave-regular;
    text-decoration: none;
    cursor: pointer;
  }

  input {
    font-family: $ave-regular;
    color: $black;
  }
}

// ::-webkit-scrollbar,
// ::-webkit-scrollbar-corner {
//   background-color: auto;
//   background-color: #1d1b1b;
// }
// ::-webkit-scrollbar {
//   border-left: 1px solid hsla(0, 0%, 100%, 0.125);
//   height: 6px;
//   width: 6px;
// }
// ::-webkit-scrollbar,
// ::-webkit-scrollbar-corner {
//   background-color: auto;
//   background-color: $black;
// }
// ::-webkit-scrollbar-thumb {
//   background: rgba($black, 0.2);
//   background: $blue;
//   border: 2px auto;
//   border-radius: 10px;
//   padding-right: 5px;
// }
::-webkit-scrollbar {
  border-left: 1px solid hsla(0, 0%, 100%, 0);
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background-color: rgba(#c4c4c4, 0);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(#c4c4c4, 0.2);
    border-radius: 10px;
    padding-right: 5px;
  &:hover {
    background: rgba(#c4c4c4, 0.8);
  }
}